@{
    ViewData["Title"] = "PescaFish";
}

<html>
    <head>
        <body class="body-index">
            <div class="mapa">
                <img src="../img/mapa.png"></img>
            </div>
        </body>
    </head>
</html>

