<html>
    <head>
</head>
<body class="peixes-body">
<h1 class="h1-peixes" style="font-size:50px">PEIXES DO LITORAL PAULISTA</h1>

<div class="peixes-view">
        <div class="lambari">
            <img src="../img/lambari.jpg"></img>  <b>   LAMBARI</b> <br />
            Um peixe pequeno de água doce, muito comum em rios e lagos da região  paulista. É popular para pesca esportiva e como isca para peixes  maiores.
        </div>
        <div class="traira">
            <img src="../img/traira.jpg"></img>  <b>    TRAIRA</b> <br />
            A traíra é um peixe de água doce agressivo e voraz, com corpo robusto e dentes afiados, comum em rios e lagoas da América do Sul.
        </div>
        <div class="pacu">
            <img src="../img/pacu.png"></img> <b>   PACU</b> <br />
            O pacu é um peixe de água doce de corpo alto e comprimido, com dentes que lembram os humanos, encontrado em rios da Bacia do Prata e do Amazonas.
        </div>
        <div class="pintado">
            <img src="../img/pintado.png"></img> <b>    PINTADO</b> <br />
            O pintado é um peixe de água doce com corpo alongado e pintas escuras, típico dos rios do Pantanal e Bacia do Prata, apreciado na pesca esportiva e culinária
        </div>
    </div>
</body>
</html>


